################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/ConsoleApplication1/.vs/ConsoleApplication1/v17/ipch/AutoPCH/c72da20126a7ad4b/CONSOLEAPPLICATION1.ipch
/Hello1/x64/Debug/Hello1.exe
/Hello1/x64/Debug/Hello1.pdb
/Hello1/Hello1.sln
/Hello1/Hello1
/Hello1/.vs/Hello1
/ConsoleApplication1
/ConsoleApplication2/ConsoleApplication2.sln
/ConsoleApplication2/ConsoleApplication2/ConsoleApplication2.vcxproj.user
/ConsoleApplication2/ConsoleApplication2/ConsoleApplication2.vcxproj.filters
/ConsoleApplication2/ConsoleApplication2/ConsoleApplication2.vcxproj
/ConsoleApplication2/.vs/ConsoleApplication2/v17/ipch/AutoPCH/d270d2edb5ae0929/VCTMP17740_274286.CONSOLEAPPLICATION1.488DBA3A.ipch
/ConsoleApplication2/.vs/ConsoleApplication2/v17/ipch/AutoPCH/c93cb29b97b2211b/CONSOLEAPPLICATION2.ipch
/ConsoleApplication2/.vs/ConsoleApplication2/v17/Browse.VC.opendb
/ConsoleApplication2/.vs/ConsoleApplication2/v17/Browse.VC.db-wal
/ConsoleApplication2/.vs/ConsoleApplication2/v17/Browse.VC.db-shm
/ConsoleApplication2/.vs/ConsoleApplication2/v17/Browse.VC.db
/ConsoleApplication2/.vs/ConsoleApplication2/v17/.suo
/lesson 4/x64/Debug/lesson 4.pdb
/lesson 4/x64/Debug/lesson 4.exe
/lesson 4/lesson 4.sln
/lesson 4/lesson 4/x64/Debug/vc143.pdb
/lesson 4/lesson 4/x64/Debug/vc143.idb
/lesson 4/lesson 4/x64/Debug/lesson 4.tlog/link.write.1.tlog
/lesson 4/lesson 4/x64/Debug/lesson 4.tlog/link.read.1.tlog
/lesson 4/lesson 4/x64/Debug/lesson 4.tlog/link.command.1.tlog
/lesson 4/lesson 4/x64/Debug/lesson 4.tlog/lesson 4.lastbuildstate
/lesson 4/lesson 4/x64/Debug/lesson 4.tlog/CL.write.1.tlog
/lesson 4/lesson 4/x64/Debug/lesson 4.tlog/CL.read.1.tlog
/lesson 4/lesson 4/x64/Debug/lesson 4.tlog/CL.command.1.tlog
/lesson 4/lesson 4/x64/Debug/lesson 4.obj
/lesson 4/lesson 4/x64/Debug/lesson 4.log
/lesson 4/lesson 4/x64/Debug/lesson 4.ilk
/lesson 4/lesson 4/x64/Debug/lesson 4.exe.recipe
/lesson 4/lesson 4/lesson 4.vcxproj.user
/lesson 4/lesson 4/lesson 4.vcxproj.filters
/lesson 4/lesson 4/lesson 4.vcxproj
/lesson 4/.vs/lesson 4/v17/ipch/AutoPCH/d92bfb3623828379/LESSON 4.ipch
/lesson 4/.vs/lesson 4/v17/Browse.VC.opendb
/lesson 4/.vs/lesson 4/v17/Browse.VC.db-wal
/lesson 4/.vs/lesson 4/v17/Browse.VC.db-shm
/lesson 4/.vs/lesson 4/v17/Browse.VC.db
/lesson 4/.vs/lesson 4/v17/.suo
/lesson5/x64/Debug/lesson5.pdb
/lesson5/x64/Debug/lesson5.exe
/lesson5/lesson5.sln
/lesson5/lesson5/x64/Debug/vc143.pdb
/lesson5/lesson5/x64/Debug/vc143.idb
/lesson5/lesson5/x64/Debug/lesson5.tlog/link.write.1.tlog
/lesson5/lesson5/x64/Debug/lesson5.tlog/link.read.1.tlog
/lesson5/lesson5/x64/Debug/lesson5.tlog/link.command.1.tlog
/lesson5/lesson5/x64/Debug/lesson5.tlog/lesson5.lastbuildstate
/lesson5/lesson5/x64/Debug/lesson5.tlog/CL.write.1.tlog
/lesson5/lesson5/x64/Debug/lesson5.tlog/CL.read.1.tlog
/lesson5/lesson5/x64/Debug/lesson5.tlog/CL.command.1.tlog
/lesson5/lesson5/x64/Debug/lesson5.obj.enc
/lesson5/lesson5/x64/Debug/lesson5.obj
/lesson5/lesson5/x64/Debug/lesson5.log
/lesson5/lesson5/x64/Debug/lesson5.ilk
/lesson5/lesson5/x64/Debug/lesson5.exe.recipe
/lesson5/lesson5/lesson5.vcxproj.user
/lesson5/lesson5/lesson5.vcxproj.filters
/lesson5/lesson5/lesson5.vcxproj
/lesson5/.vs/lesson5/v17/ipch/AutoPCH/7356f4fd5a18e8b3/LESSON5.ipch
/lesson5/.vs/lesson5/v17/Browse.VC.opendb
/lesson5/.vs/lesson5/v17/Browse.VC.db-wal
/lesson5/.vs/lesson5/v17/Browse.VC.db-shm
/lesson5/.vs/lesson5/v17/Browse.VC.db
/lesson5/.vs/lesson5/v17/.suo
/lesson5/.vs/lesson5/project-colors.json
/lesson 4/.vs/lesson 4/project-colors.json
/lesson6/x64/Release/lesson6.pdb
/lesson6/x64/Release/lesson6.exe
/lesson6/x64/Debug/lesson6.pdb
/lesson6/x64/Debug/lesson6.exe
/lesson6/lesson6.sln
/lesson6/lesson6/x64/Release/vc143.pdb
/lesson6/lesson6/x64/Release/lesson6.vcxproj.FileListAbsolute.txt
/lesson6/lesson6/x64/Release/lesson6.tlog/link.write.1.tlog
/lesson6/lesson6/x64/Release/lesson6.tlog/link.read.1.tlog
/lesson6/lesson6/x64/Release/lesson6.tlog/link.command.1.tlog
/lesson6/lesson6/x64/Release/lesson6.tlog/lesson6.lastbuildstate
/lesson6/lesson6/x64/Release/lesson6.tlog/CL.write.1.tlog
/lesson6/lesson6/x64/Release/lesson6.tlog/CL.read.1.tlog
/lesson6/lesson6/x64/Release/lesson6.tlog/CL.command.1.tlog
/lesson6/lesson6/x64/Release/lesson6.obj
/lesson6/lesson6/x64/Release/lesson6.log
/lesson6/lesson6/x64/Release/lesson6.ipdb
/lesson6/lesson6/x64/Release/lesson6.iobj
/lesson6/lesson6/x64/Release/lesson6.exe.recipe
/lesson6/lesson6/x64/Release/lesson6.Build.CppClean.log
/lesson6/lesson6/x64/Debug/vc143.pdb
/lesson6/lesson6/x64/Debug/vc143.idb
/lesson6/lesson6/x64/Debug/lesson6.tlog/link.write.1.tlog
/lesson6/lesson6/x64/Debug/lesson6.tlog/link.read.1.tlog
/lesson6/lesson6/x64/Debug/lesson6.tlog/link.command.1.tlog
/lesson6/lesson6/x64/Debug/lesson6.tlog/lesson6.lastbuildstate
/lesson6/lesson6/x64/Debug/lesson6.tlog/CL.write.1.tlog
/lesson6/lesson6/x64/Debug/lesson6.tlog/CL.read.1.tlog
/lesson6/lesson6/x64/Debug/lesson6.tlog/CL.command.1.tlog
/lesson6/lesson6/x64/Debug/lesson6.obj.enc
/lesson6/lesson6/x64/Debug/lesson6.obj
/lesson6/lesson6/x64/Debug/lesson6.log
/lesson6/lesson6/x64/Debug/lesson6.ilk
/lesson6/lesson6/x64/Debug/lesson6.exe.recipe
/lesson6/lesson6/w.txt
/lesson6/lesson6/m.txt
/lesson6/lesson6/lesson6.vcxproj.user
/lesson6/lesson6/lesson6.vcxproj.filters
/lesson6/lesson6/lesson6.vcxproj
/lesson6/lesson6/e.txt
/lesson6/.vs/lesson6/v17/ipch/AutoPCH/ef852219277382ed/LESSON6.ipch
/lesson6/.vs/lesson6/v17/ipch/AutoPCH/d46aef2a46253731/LESSON5.ipch
/lesson6/.vs/lesson6/v17/ipch/AutoPCH/3dcb3c03fffb0d07/LESSON6.ipch
/lesson6/.vs/lesson6/v17/Browse.VC.opendb
/lesson6/.vs/lesson6/v17/Browse.VC.db-wal
/lesson6/.vs/lesson6/v17/Browse.VC.db-shm
/lesson6/.vs/lesson6/v17/Browse.VC.db
/lesson6/.vs/lesson6/v17/.suo
/lesson7/x64/Debug/lesson7.pdb
/lesson7/x64/Debug/lesson7.exe
/lesson7/lesson7.sln
/lesson7/lesson7/x64/Debug/vc143.pdb
/lesson7/lesson7/x64/Debug/vc143.idb
/lesson7/lesson7/x64/Debug/Source.obj
/lesson7/lesson7/x64/Debug/mylib.obj
/lesson7/lesson7/x64/Debug/lesson7.tlog/link.write.1.tlog
/lesson7/lesson7/x64/Debug/lesson7.tlog/link.read.1.tlog
/lesson7/lesson7/x64/Debug/lesson7.tlog/link.command.1.tlog
/lesson7/lesson7/x64/Debug/lesson7.tlog/lesson7.lastbuildstate
/lesson7/lesson7/x64/Debug/lesson7.tlog/CL.write.1.tlog
/lesson7/lesson7/x64/Debug/lesson7.tlog/CL.read.1.tlog
/lesson7/lesson7/x64/Debug/lesson7.tlog/CL.command.1.tlog
/lesson7/lesson7/x64/Debug/lesson7.obj
/lesson7/lesson7/x64/Debug/lesson7.log
/lesson7/lesson7/x64/Debug/lesson7.ilk
/lesson7/lesson7/x64/Debug/lesson7.exe.recipe
/lesson7/lesson7/lesson7.vcxproj.user
/lesson7/lesson7/lesson7.vcxproj.filters
/lesson7/lesson7/lesson7.vcxproj
/lesson7/lesson7/lesson7.cpp
/lesson7/lesson7/Header.h
/lesson7/.vs/lesson7/v17/ipch/AutoPCH/2b9f58987c628db/MYLIB.ipch
/lesson7/.vs/lesson7/v17/ipch/AutoPCH/2841a479617418c3/LESSON7.ipch
/lesson7/.vs/lesson7/v17/Browse.VC.opendb
/lesson7/.vs/lesson7/v17/Browse.VC.db-wal
/lesson7/.vs/lesson7/v17/Browse.VC.db-shm
/lesson7/.vs/lesson7/v17/Browse.VC.db
/lesson7/.vs/lesson7/v17/.suo
/lesson6/.vs/lesson6/project-colors.json
