################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/ConsoleApplication1/.vs/ConsoleApplication1/v17/ipch/AutoPCH/c72da20126a7ad4b/CONSOLEAPPLICATION1.ipch
/Hello1/x64/Debug/Hello1.exe
/Hello1/x64/Debug/Hello1.pdb
/Hello1/Hello1.sln
/Hello1/Hello1
/Hello1/.vs/Hello1
/ConsoleApplication1
/ConsoleApplication2/ConsoleApplication2.sln
/ConsoleApplication2/ConsoleApplication2/ConsoleApplication2.vcxproj.user
/ConsoleApplication2/ConsoleApplication2/ConsoleApplication2.vcxproj.filters
/ConsoleApplication2/ConsoleApplication2/ConsoleApplication2.vcxproj
/ConsoleApplication2/.vs/ConsoleApplication2/v17/ipch/AutoPCH/d270d2edb5ae0929/VCTMP17740_274286.CONSOLEAPPLICATION1.488DBA3A.ipch
/ConsoleApplication2/.vs/ConsoleApplication2/v17/ipch/AutoPCH/c93cb29b97b2211b/CONSOLEAPPLICATION2.ipch
/ConsoleApplication2/.vs/ConsoleApplication2/v17/Browse.VC.opendb
/ConsoleApplication2/.vs/ConsoleApplication2/v17/Browse.VC.db-wal
/ConsoleApplication2/.vs/ConsoleApplication2/v17/Browse.VC.db-shm
/ConsoleApplication2/.vs/ConsoleApplication2/v17/Browse.VC.db
/ConsoleApplication2/.vs/ConsoleApplication2/v17/.suo
